---
import { projects } from 'src/cms/projects';
import SliderImage from 'src/components/SliderImage.astro';
import type { UnpackArray } from 'src/utils';

interface Props extends UnpackArray<typeof projects> {}

const { name, description, techs, slides } = Astro.props;
---

<article>
   <h3>{name}</h3>
   <p>{description}</p>
   <h4>Technologies</h4>
   <p>{techs}</p>
   <SliderImage slides={slides} />
</article>
