---
import { cn } from 'src/utils';
---

<section
   id="hero"
   class={cn`
      flex
      flex-col
      overflow-hidden
      min-h-screen
      pt-24
      bg-landing
      text-text-dark
      bg-gradient-to-r from-[#002138] to-[#001223]
      after:content-['TYPESCRIPT']
      after:text-[160px]
      after:sm:text-[200px]
      after:font-semibold
      after:opacity-[0.03]
      after:leading-[0.7]
   `}
>
   <div
      class={cn`
         relative 
         w-full
         my-auto
         bg-gradient-to-r from-[#40c2c20d] to-[#40c2c206]
         after:hidden
         after:sm:block
         after:absolute
         after:inset-0
         after:flex-shrink-0
         after:bg-primary-dark
         after:w-1
         before:content-['REACT']
         before:absolute
         before:top-1/2
         before:right-0
         before:-translate-y-1/2
         before:translate-x-1/4
         before:text-[300px]
         before:opacity-[0.03]
         before:font-semibold
      `}
   >
      <div class="container z-10">
         <slot />
      </div>
   </div>
</section>
