---
import Navbar from 'src/sections/Navbar.astro';
import Landing from 'src/sections/Landing.astro';
import Layout from '../layouts/Layout.astro';
import Contact from 'src/sections/Contact.astro';
import Footer from 'src/sections/Footer.astro';
---

<Layout title="Laurent Blondy">
   <Navbar />
   <main>
      <Landing />
      test<br />
      test<br />
      test<br />
      test<br />
      test<br />
      test<br />
      test<br />
      test<br />
      <Contact />
   </main>
   <Footer />
</Layout>
