---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'form'> {
   action: string;
   method: 'get' | 'post' | 'put' | 'patch' | 'delete';
}
---

<form data-enhanced-form {...Astro.props}><slot /></form>

<!-- Touched handler -->
<script defer>
   document.querySelectorAll('[data-enhanced-form]').forEach((form) => {
      form.addEventListener('reset', (e) => {
         [...form.elements].forEach((element) => {
            element.classList.remove('touched');
         });
      });
      [...form.elements].forEach((element) => {
         element.addEventListener('invalid', (e) => {
            element.classList.add('touched');
         });
         element.addEventListener('blur', (e) => {
            element.classList.add('touched');
         });
      });
   });
</script>

<!-- Submit handler -->
<script defer>
   import './Form.script.setupFetchers';
</script>
