---
import LinkResume from 'src/components/LinkResume.astro';
import Logo from './Logo.astro';
import Portal from 'src/lib/Portal.astro';
import NavLink from './NavLink.astro';
import Burger from './Burger.astro';
---

<nav
   class="absolute w-full top-0 left-0 z-20 bg-gradient-to-r from-[#002138] to-[#001223]"
>
   <div
      class="h-24 text-text-dark w-full flex items-center justify-between px-4 sm:px-5 md:px-8 lg:px-12"
   >
      <Logo />

      <Burger id="burger" class="sm:hidden text-primary-dark" />

      <ul
         role="menubar"
         id="desktop-nav"
         class="items-center gap-2 hidden sm:flex"
      >
         <NavLink>
            <a href="#projects">Projects</a>
         </NavLink>

         <NavLink>
            <a href="#skills">Skills</a>
         </NavLink>

         <NavLink>
            <LinkResume>Resume</LinkResume>
         </NavLink>

         <NavLink class="!pr-0 hover:!bg-transparent">
            <a
               class="btn-outlined px-4 py-2 font-medium text-primary-dark"
               href="#contact"
            >
               Contact
            </a>
         </NavLink>
      </ul>
   </div>
</nav>

<Portal>
   <div
      id="mobile-nav"
      class="fixed invisible inset-0 bg-gradient-to-r from-[#002138] to-[#001223] transition-all duration-500 transform -translate-y-full z-10 flex items-center justify-center"
   >
      <ul role="menubar" class="flex flex-col items-center gap-2">
         <NavLink class="!px-6 !text-2xl min-w-[50vw] text-center">
            <a href="#projects">Projects</a>
         </NavLink>

         <NavLink class="!px-6 !text-2xl min-w-[50vw] text-center">
            <a href="#skills">Skills</a>
         </NavLink>

         <NavLink class="!px-6 !text-2xl min-w-[50vw] text-center">
            <LinkResume>Resume</LinkResume>
         </NavLink>

         <NavLink class="!px-6 !text-2xl min-w-[50vw] text-center">
            <a href="#contact">Contact</a>
         </NavLink>
      </ul>
   </div>
</Portal>

<script>
   document.addEventListener('DOMContentLoaded', () => {
      const burger = document.getElementById('burger');
      const mobileNav = document.getElementById('mobile-nav');
      if (!burger || !mobileNav) return;

      burger.addEventListener('click', () => {
         if (mobileNav.classList.contains('invisible')) {
            burger.classList.add('-scale-y-100');
            mobileNav.classList.remove('invisible', '-translate-y-full');
            document.documentElement.classList.add('no-scroll');
         } else {
            burger.classList.remove('-scale-y-100');
            mobileNav.classList.add('invisible', '-translate-y-full');
            document.documentElement.classList.remove('no-scroll');
         }
      });

      mobileNav.addEventListener('click', () => {
         burger.classList.remove('-scale-y-100');
         mobileNav.classList.add('invisible', '-translate-y-full');
         document.documentElement.classList.remove('no-scroll');
      });
   });
</script>
