---
import Logo from 'src/components/Logo.astro';
import Portal from 'src/lib/Portal.astro';
---

<nav class="w-full h-24 absolute text-text-dark">
   <Logo />
   <button id="burger">Burger</button>
</nav>

<Portal>
   <div
      id="mobile-nav"
      class="hidden fixed inset-0 bg-gray-200 transition-all animate-slideIn-from-top animation-duration-3000"
   >
      Mobile nav
   </div>
</Portal>

<script>
   (function () {
      const burger = document.getElementById('burger');
      if (!burger) return;

      burger.addEventListener('click', () => {
         const mobileNav = document.getElementById('mobile-nav');
         if (!mobileNav) return;
         mobileNav.classList.remove('hidden');
      });

      document.addEventListener('keydown', (e) => {
         if (e.key !== 'Escape') return;
         const mobileNav = document.getElementById('mobile-nav');
         if (!mobileNav) return;
         mobileNav.classList.add('hidden');
      });
   })();
</script>
