---
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'li'>, 'role'> {}

const { class: className = '', ...props } = Astro.props;
---

<li
   role="menuitem"
   class={`text-lg font-medium px-2 md:px-4 pt-3 pb-2.5 hover:text-primary-dark transition-colors text-text-dark cursor-pointer bg-transparent hover:bg-[#88888815] rounded ${className}`}
   {...props}
>
   <slot />
</li>
