---
import Form from 'src/components/Form.astro';
---

<Form method="post" action="/contact.json" id="contactForm">
   <input type="email" name="email" class="border" required />
   <input type="text" name="fullName" class="border" required />
   <textarea
      class="border"
      name="message"
      rows={10}
      minlength="20"
      maxlength="2000"
      required></textarea>
   <button>Submit</button>
   <button type="reset">Reset</button>
</Form>

<style>
   input.touched:invalid,
   textarea.touched:invalid {
      border-color: red;
   }
</style>

<script>
   (function () {
      const form = document.getElementById('contactForm');
      if (!form) return;
      form.addEventListener('submit', (e) => {
         console.log('submit', e);
      });
      form.addEventListener('submit-success', (e) => {
         console.log('success', e);
      });
      form.addEventListener('submit-error', (e) => {
         console.log('failure', e);
      });
   })();
</script>
