---
import SectionTitle from 'src/components/SectionTitle.astro';
import Form from 'src/lib/Form.astro';
import IconLoading from 'src/lib/IconLoading.astro';
import IconSuccess from 'src/lib/IconSuccess.astro';
---

<div class="bg-gray-100 px-section-gutter py-12 sm:py-16 md:py-20">
   <Form
      method="post"
      action="/contact.json"
      id="contactForm"
      class="flex flex-col gap-4 sm:gap-7 max-w-xl mx-auto"
   >
      <SectionTitle>Contact me</SectionTitle>

      <p class="sm:text-lg">
         Feel free to reach out. I'd love to hear from you!
      </p>

      <div class="flex flex-col relative">
         <label for="email" class="font-medium sm:text-lg">
            Email
            <span class="text-red-500">*</span>
         </label>
         <input
            type="email"
            name="email"
            id="email"
            class="leading-10 px-2 rounded-sm shadow-emphasis outline-primary-light"
            required
         />
         <div form-error-field="email" class="text-xs pt-0.5"></div>
      </div>

      <div class="flex flex-col relative">
         <label for="fullName" class="font-medium sm:text-lg">
            Full name
            <span class="text-red-500">*</span>
         </label>
         <input
            type="text"
            name="fullName"
            id="fullName"
            class="leading-10 px-2 rounded-sm shadow-emphasis outline-primary-light"
            required
         />
         <div form-error-field="fullName" class="text-xs pt-0.5"></div>
      </div>

      <div class="flex flex-col relative">
         <label for="message" class="font-medium sm:text-lg">
            Message
            <span class="text-red-500">*</span>
         </label>
         <textarea
            class="leading-10 px-2 rounded-sm shadow-emphasis outline-primary-light"
            name="message"
            id="message"
            rows={8}
            minlength="20"
            maxlength="2000"
            required></textarea>
         <div form-error-field="message" class="text-xs pt-0.5"></div>
      </div>
      <button class="btn-contained gap-2 text-lg">
         Send message
         <IconLoading id="submit-loading" class="hidden" />
         <IconSuccess id="submit-success" class="hidden" />
      </button>
   </Form>
</div>

<style>
   input.touched:invalid,
   textarea.touched:invalid {
      outline: 2px solid coral;
   }

   [form-error-field] {
      color: red;
   }
</style>

<!-- Submit button icons -->
<script>
   (function () {
      const form = document.getElementById('contactForm');
      const iconLoading = document.getElementById('submit-loading');
      const iconSuccess = document.getElementById('submit-success');

      if (!form) return;
      form.addEventListener('submit', (e) => {
         iconLoading?.classList.remove('hidden');
         iconSuccess?.classList.add('hidden');
      });
      form.addEventListener('submit-success', (e) => {
         iconLoading?.classList.add('hidden');
         iconSuccess?.classList.remove('hidden');
      });
      form.addEventListener('submit-error', (e) => {
         iconLoading?.classList.add('hidden');
         iconSuccess?.classList.add('hidden');
      });
   })();
</script>
