---
import { skills } from 'src/cms/skills';
import HeaderSection from 'src/components/HeaderSection.astro';
import Category from './Category.astro';
---

<section id="skills" class="pt-16 pb-20 md:pt-24 md:pb-28 lg:pb-32">
   <div class="container">
      <HeaderSection class="pb-6 md:pb-10">Technical skills</HeaderSection>

      <ul class="grid md:grid-cols-2 gap-6">
         {
            skills.map((skill, i) => (
               <Category category={skill.category} list={skill.list} />
            ))
         }
      </ul>
   </div>
</section>
